# Workspace Dev workspace-dev NPM Ignore Rules

# Exclude source code, tests, and config since we publish transpiled JS
src/
scripts/
tsconfig.json
*.test.ts
*.test.tsx
**/*.test.ts
**/*.test.tsx
node_modules/
template/**/node_modules/
